# ===== APP =====
APP_TITLE=agro-iot-service
APP_VERSION=0.1.0
APP_DEBUG=false
APP_TZ_NAME=Europe/Moscow
APP_TCP_HOST=0.0.0.0
APP_TCP_PORT=9000
APP_AUTH_SERVICE_URL=http://auth-service:8080
APP_GATEWAY_URL=http://api-gateway:8080
APP_ONLINE_THRESHOLD_SECONDS=3600

# ===== DB =====
POSTGRES_HOST=iot-db
POSTGRES_PORT=5432
POSTGRES_DB=iot
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_ECHO=false
